$dark-gray:#212223;
$super-gray:#151616;
$gray: #8c8d8e;
$light-purple:#D3CAFF;
$white: #fff;
$black: #000;

$alert-success: #D4EDDA;
$alert-success-border: #155724;
$alert-error: #f8d7da;
$alert-error-border: #721C24;
$alert-warning: #FFF3CD;
$alert-warning-border: #856404;
$alert-info: #D1ECF1;
$alert-info-border: #0C5460;

$table-first-column: #C7DAF0;
$table-first-column-text: #F5F6F6;
$table-color: #8b8e91;
$table-yellow-line: #F5E1A6;

$descryption-text: rgba(0,0,0,0.3);

$section-background:rgba(0,0,0,0.6);
$box-shadow-menu: 0px 8px 16px 0px rgba(0,0,0,0.2);
$box-shadow-card: 2px 10px 16px 2px rgba(0,0,0,0.7);

$select-color:#394066;
$select-background: #dfe5fb;