$dark-gray:#212223;
$gray: #8c8d8e;
$light-purple:#D3CAFF;
$white: #fff;

$alert-success: #D4EDDA;
$alert-success-border: #155724;
$alert-error: #f8d7da;
$alert-error-border: #721C24;
$alert-warning: #FFF3CD;
$alert-warning-border: #856404;
$alert-info: #D1ECF1;
$alert-info-border: #0C5460;

$section-background:rgba(0,0,0,0.6);